.login-container {
    background: url(../assets/Backgroung-img.png) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px; 
}

.login-container h2 {
    color: rgb(15, 15, 15);
    font-size: 24px; 
    margin-top: -100px;
    margin-bottom: -8px; 
    text-align: center;
    width: 100%;
}

.login-container h3 {
    color: #2E7D32;
    font-size: 19px; 
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
}

.login-title {
    color: #2E7D32;
    text-align: center;
    margin-bottom: 16px; 
    width: 100%;
}

.logo {
    width: auto;
    max-width: 360px;
    height: auto; 
    margin-top: -50px;
    align-self: center;
    margin-bottom: 10px; 
}

.login-form {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px; 
    border-radius: 6px; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 
}

.login-form input {
    width: 100%;
    padding: 12px; 
    font-size: 14px; 
    border: 1.5px solid #81C784;
    border-radius: 5px; 
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    height: 48px; 
    padding: 12px; 
    font-size: 16px; 
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.login-form button:hover {
    background-color: #388E3C;
    transform: scale(1.03); 
}

.error-message {
    color: #d32f2f;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    font-size: 19px;
    width: 80%;
}

.success-message {
    color: #2E7D32;
    text-align: center;
    margin-top: 8px; 
    font-size: 16px; 
    font-weight: bold;
    width: 80%;
}

@media (max-width: 480px) {
    .login-form {
        padding: 20px;
        max-width: 90%;
    }
    
    .login-container h2 {
        font-size: 20px;
    }
    
    .logo {
        width: 250px;
    }
}

.redirect-register {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    width: 100%;
}

.redirect-register a {
    color: #388E3C;
    text-decoration: none;
    font-weight: bold;
}

.redirect-register a:hover {
    text-decoration: underline;
    color: #2E7D32;
}