body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

thead tr {
    background-color: #007bff;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #007bff;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.search-bar {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
}

.search-bar input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.action-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.action-button.edit {
    background-color: #28a745; /* Green */
    color: #fff;
}

.action-button.edit:hover {
    background-color: #218838; /* Darker Green */
}

.action-button.delete {
    background-color: #dc3545; /* Red */
    color: #fff;
}

.action-button.delete:hover {
    background-color: #c82333; /* Darker Red */
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

.add-product-button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-product-button:hover {
    background-color: #0056b3; /* Darker Blue */
}

